<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyct.ehome.dao.CommunityMapper">

    <insert id="insert" parameterType="community">
        insert  into t_community(community_id, community_name, region_id, community_info)
        values (#{communityId},#{communityName},#{region.regionId},#{communityInfo})
    </insert>

    <select id="selectByCommunityId" parameterType="String" resultMap="selectByCommunityIdMap">
        select c.community_id community_id,c.community_name community_name,c.community_info community_info,
        c.region_id region_id,r.full_name full_name
        from t_community c
        left join  t_region r
        on c.region_id = r.region_id
        where c.community_id = #{v}
    </select>

    <resultMap id="selectByCommunityIdMap" type="community">
        <id column="community_id" property="communityId" javaType="String"/>
        <result column="community_name" property="communityName" javaType="String"/>
        <result column="community_info" property="communityInfo" javaType="String"/>
        <association property="region" column="region_id" javaType="region">
            <id column="region_id" property="regionId" javaType="Long"/>
            <result column="full_name" property="fullName" javaType="String"/>
        </association>
    </resultMap>


    <!--获取小区的列表-->
    <select id="getCommunityList" resultMap="CommunityListMapVO" parameterType="String">
        select * from t_community c,t_region r
        where  c.region_id = r.region_id
        and full_name like #{city}
    </select>

    <resultMap id="CommunityListMapVO" type="com.zyct.ehome.entity.Community">
        <id column="community_id" property="communityId" javaType="String"></id>
        <result column="community_name" property="communityName" javaType="String"></result>
        <result column="community_info" property="communityInfo" javaType="String"></result>
        <association property="ten" javaType="ten" column="ten_id">
            <id column="ten_id" property="tenId" javaType="String"></id>

        </association>
        <association  property="region" javaType="region" column="region_id">
            <id column="region_id" property="regionId" javaType="Long"/>
            <result column="full_name" property="fullName" javaType="String"/>
        </association>
    </resultMap>

    <!--获取小区楼栋列表-->
    <select id="getHouseListByCommunityId" parameterType="String" resultMap="HouseMap">
          select * from t_house where community_id = #{communityId}
    </select>
    <resultMap id="HouseMap" type="House">
        <id column="house_id" property="houseId" javaType="String"></id>
        <result column="house_name" property="houseName" javaType="String"></result>
        <association property="community" javaType="Community" column="community_id">
            <id column="community_id" property="communityId" javaType="String"></id>
        </association>
    </resultMap>

    <!--获取楼栋所有房间列表-->
    <select id="getRoomListByHouseId" parameterType="String" resultMap="roomListMap" >
        select * from t_room where house_id = #{v};
    </select>

    <resultMap id="roomListMap" type="Room" >
        <id column="room_id" property="roomId" javaType="String"></id>
        <result column="room_name" property="roomName" javaType="String"></result>
        <result column="room_certification_time" property="roomCertificationTime" javaType="Long"></result>
        <association property="owner" javaType="owner" column="owner_id">
        </association>
        <association property="house" javaType="house" column="house_id">
            <id column="house_id" property="houseId" javaType="String"></id>
        </association>

    </resultMap>

</mapper>