<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyct.ehome.dao.FlowNodeMapper">

    <select id="getNodeByRoleId" resultMap="getNodeByRoleIdMap" parameterType="list">
      select flow_node_id,flow_node_name
      from t_flow_node
      where flow_node_role in
      <foreach collection="list"  item="item" open="(" separator=","  close=")" index="index">
          #{item.roleId}
      </foreach>
    </select>
    <resultMap id="getNodeByRoleIdMap" type="flowNode">
        <id column="flow_node_id" property="flowNodeId" javaType="Integer"/>
        <result column="flow_node_name" property="flowNodeName" javaType="String"/>
    </resultMap>

</mapper>