<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyct.ehome.dao.VoteMapper">
    <insert id="insertVoteCandidate" parameterType="String">
        insert into t_candidate_owner(candidate_id, owner_id)
        values (#{candidateId},#{ownerId})
    </insert>
    <select id="voteCountByCandidateId" parameterType="String" resultType="Integer">
        select count(*) from t_candidate_owner where candidate_id = #{v}
    </select>
</mapper>